<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script type="text/javascript">
  $(function(){
    $('#btnDesabonner').click(function(e){
      e.preventDefault();
      var url_string      = window.location.href;
      var url = new URL(url_string);
      var id_param = url.searchParams.get("id");
      $.ajax({
        type: 'DELETE',
        url: "/desabonner",
        data: JSON.stringify({
          "id": id_param
        }),
        contentType: "application/json; charset=utf-8",
        dataType   : "json",
        success: function(res) {
          alert(" desabonnement confirme  ")
        }
      });
    });
  });
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="button ">
    <h1> Appuyer sur le bouton pour vous desabonner</h1>
    <button type="submit" class="btn btn-primary" id = "btnDesabonner">CONFIRMER</button>
  </div>
</body>
</html>
