<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script type="text/javascript">
  $(function(){
    $("#infosInstallation").html('');
    $.ajax({
      type: 'GET',
      contentType: 'application/json',
      url: "/installations/global",
      success: function(data) {
        $("#optionListe").html('');
        var option = '';
        if(data.liste_installation.length){
          $.each(data.liste_installation, function (i, item) {
            if(data.liste_installation[i].nom!=undefined){
              var optionInfos = "<option id = " + i+ " >"
              option += "<option>" + data.liste_installation[i].nom + '</option>';
            }else{
              var optionInfos = "<option id = " + i+ " >"
              option += "<option>" + data.liste_installation[i].NOM + '</option>';
            }
          });
        }
        $('#optionListe').append(option);
      }
    });
  });
  $(function(){
    $('#btnRechercheArrondissment').click(function(e){
      e.preventDefault();
      console.log('select_link clicked');
      var nomArrondissement = $('#nomArrondissement').val();
      $("#infosInstallation").html('');
      $.ajax({
        type: 'GET',
        contentType: 'application/json',
        url: "/installations?arrondissement="+nomArrondissement,
        success: function(data) {
          $("#installation").html('');
          var trHTML = '';
          var option = '';
          var infos = '';
          if(data.liste_installation.length){
            trHTML += "<table class='table table-striped'>"
            $.each(data.liste_installation, function (i, item) {
              if(data.liste_installation[i].nom!=undefined){
                trHTML += '<tr><td>' + data.liste_installation[i].nom + '</td></tr>';
              }else{
                trHTML += '<tr><td>' + data.liste_installation[i].NOM + '</td></tr>';
              }
            });
            trHTML += "</table>"
          }else{
            alert("Nom d'arrondissement inexistant !")
          }
          $('#installation').append(trHTML);
          var value =  $("#optionListe :selected").text();
        }
      });
    });
  });
  $(function(){
    $('select').change(function(){
      $("#infosInstallation").html('');
      console.log('select');
      var temp = $('#optionListe').val();
      $.ajax({
        type: 'GET',
        contentType: 'application/json',
        url: "/infos?installation="+temp,
        success: function(data) {
          $("#infosInstallation").html('');
          var infos = '';
          if(data.liste_installation.length){
            $.each(data.liste_installation, function (i, item) {
              if(data.liste_installation[i].nom!=undefined){
                infos += '<tr><td>' + "nom : " + data.liste_installation[i].nom + '</td></tr>';
                infos += '<tr><td>' + "nom arrondissement : " + data.liste_installation[i].arrondissement.nom_arr + '</td></tr>';
                infos += '<tr><td>' + "cle arrondissement  : " + data.liste_installation[i].arrondissement.cle + '</td></tr>';
                infos += '<tr><td>' + "date_maj arrondissement : " + data.liste_installation[i].arrondissement.date_maj + '</td></tr>';
                if( Object.keys(data.liste_installation[i].ouvert).length!=0){
                  infos += '<tr><td>' + "ouvert : " + data.liste_installation[i].ouvert + '</td></tr>';
                }else{
                  infos += '<tr><td>' + "ouvert : " + "Information inexistante" + '</td></tr>';
                }
                if( Object.keys(data.liste_installation[i].deblaye).length!=0){
                  infos += '<tr><td>' + "deblaye : " + data.liste_installation[i].deblaye + '</td></tr>';
                }else{
                  infos += '<tr><td>' + "deblaye : " + "Information inexistante" + '</td></tr>';
                }
                if( Object.keys(data.liste_installation[i].condition).length!=0){
                  infos += '<tr><td>' + "condition : " + data.liste_installation[i].condition + '</td></tr>';
                }else{
                  infos += '<tr><td>' + "condition : " + "Information inexistante" + '</td></tr>';
                }
                if(data.liste_installation[i].arrose!=undefined){
                  if( Object.keys(data.liste_installation[i].arrose).length!=0){
                    infos += '<tr><td>' + "arrose : " + data.liste_installation[i].arrose + '</td></tr>';
                  }else{
                    infos += '<tr><td>' + "arrose : " + "Information inexistante" + '</td></tr>';
                  }
                }
                if(data.liste_installation[i].resurface!=undefined){
                  if( Object.keys(data.liste_installation[i].resurface).length!=0){
                    infos += '<tr><td>' + "resurface : " + data.liste_installation[i].resurface + '</td></tr>';
                  }else{
                    infos += '<tr><td>' + "resurface : " + "Information inexistante" + '</td></tr>';
                  }
                }
              }else{
                infos += '<tr><td>' + "NOM : " +data.liste_installation[i].NOM + '</td></tr>';
                infos += '<tr><td>' + "ID_UEV : " +data.liste_installation[i].ID_UEV + '</td></tr>';
                infos += '<tr><td>' + "TYPE : " +data.liste_installation[i].TYPE + '</td></tr>';
                infos += '<tr><td>' + "ARRONDISSE : " +data.liste_installation[i].ARRONDISSE + '</td></tr>';
                infos += '<tr><td>' + "ADRESSE : " +data.liste_installation[i].ADRESSE + '</td></tr>';
                infos += '<tr><td>' + "PROPRIETE : " +data.liste_installation[i].PROPRIETE + '</td></tr>';
                infos += '<tr><td>' + "GESTION : " +data.liste_installation[i].GESTION + '</td></tr>';
                infos += '<tr><td>' + "POINT_X : " +data.liste_installation[i].POINT_X + '</td></tr>';
                infos += '<tr><td>' + "POINT_Y : " +data.liste_installation[i].POINT_Y + '</td></tr>';
                infos += '<tr><td>' + "EQUIPEME : " +data.liste_installation[i].EQUIPEME + '</td></tr>';
                infos += '<tr><td>' + "LONG : " +data.liste_installation[i].LONG + '</td></tr>';
                infos += '<tr><td>' + "LAT : " +data.liste_installation[i].LAT + '</td></tr>';
              }
            });
          }else{
            alert("Nom d'installation vide !")
          }
          $('#infosInstallation').append(infos);
        }
      });
    });
  });
  $(function(){
    $('#btnCreerCompte').click(function(e){
      e.preventDefault();
      var nom = $('#nom_user').val();
      var email = $('#email').val();
      var liste = $('#liste').val();
      function validateForm() {
        if(email === "") {
          return false;
        }
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
      }
      var myKeyVals = {

        "nom": nom,
        "adresse_email": email,
        "liste_arrondissement": ["liste"]

      }
      var array = liste.split(',');
      if(validateForm()) {
        $.ajax({
          type: 'POST',
          url: "/creerprofil",
          data: JSON.stringify({

            "nom": nom,
            "adresse_email": email,
            "liste_arrondissement": array

          }),
          contentType: "application/json; charset=utf-8",
          dataType   : "json",

          success: function(res) {
            alert("success  "+res.body.data.description)
          }
        });
      }else{
        alert("email invalide");
      }
    });
  });

  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h4>Bienvenue dans l'interface du service SAS-MTL </h4>
  <br>
  <h1>SAS-MTL</h1>
  <br>
  <form id= "formRechercheArrondissement" action="/ma-page-de-traitement" method="post">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <label for="arrondissement">Nom Arrondissement :</label>
          <br>
          <input type="text" id="nomArrondissement" />
          <br>
          <br>
          <div class="button ">
            <button type="submit" class="btn btn-primary" id = "btnRechercheArrondissment">Envoyer</button>
          </div>
          <table id="installation" border='1'>
          </table>
        </div>
        <br>
        <div class="col-sm">
          <label >Veuillez choisir une installation :
            <select id = 'optionListe' ></select>
          </label>
          <table id="infosInstallation" border='1' class="table table-striped">
          </table>
        </div>
        <div class="col-sm">
          <label >Veuillez entrer vos coordonnees et inscrire un ou des arrondissements a suivre</label>
          <br>
          <label for="nom_user">Nom  :</label>
          <br>
          <input type="text" id="nom_user" />
          <br>
          <label for="email">Courriel :</label>
          <br>
          <input type="text" id="email" />
          <br>
          <label for="liste">Liste (delimiter par des virgules) :</label>
          <input type="text" id="liste" />
          <div class="button">
            <br>
            <button type="submit" class="btn btn-primary" id = "btnCreerCompte">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
